<a href="https://colab.research.google.com/github/Tachawla/sales_prediction/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

filename='/content/drive/MyDrive/sales_predictions.csv'
df=pd.read_csv(filename)

# 1. How many rows and columns?
df.shape
#8523 rows and 12 columns

#2.  What are the datatypes of each variable?
df.dtypes

#3.  Are there duplicates?  If yes, drop them.
df[df.duplicated(keep=False)]

#4 & #5 & #6  Identify missing values
df.isnull().sum()
# Missing values in Item_Weight and Outlet_Size
# The missing value rows are dropped since it seems
# difficult to interpolate values for the missing cells.
df_new=df.dropna()
df_new.isnull().any()

#7 Fix inconsistent data

#8 Summary statistics of numerical columns
df_new.describe()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

       Item_Weight  ...  Item_Outlet_Sales
count  4650.000000  ...        4650.000000
mean     12.898675  ...        2272.037489
std       4.670973  ...        1497.964740
min       4.555000  ...          69.243200
25%       8.770000  ...        1125.202000
50%      12.650000  ...        1939.808300
75%      17.000000  ...        3111.616300
max      21.350000  ...       10256.649000

[8 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB